<?xml version="1.0"?>
<!--//////  使用方法:-load-config+=config.xml //////-->
<flex-config>

	<compiler>
      <keep-generated-actionscript>false</keep-generated-actionscript>
	  <library-path>
         <path-element>E:\编程文档\Flash\Flexlite\bin\Flexlite.swc</path-element>
         <path-element>D:\Program Files\Adobe\Adobe Flash Builder 4.6\sdks\4.6.0\frameworks\libs\core.swc</path-element>
		 <path-element>D:\Program Files\Adobe\Adobe Flash Builder 4.6\sdks\4.6.0\frameworks\libs\authoringsupport.swc</path-element>
		 <path-element>D:\Program Files\Adobe\Adobe Flash Builder 4.6\sdks\4.6.0\frameworks\libs\osmf.swc</path-element>
		 <path-element>D:\Program Files\Adobe\Adobe Flash Builder 4.6\sdks\4.6.0\frameworks\libs\textLayout.swc</path-element>
      </library-path>
	  <source-path>
         <path-element>src</path-element>
      </source-path>
	</compiler>
	<static-link-runtime-shared-libraries>true</static-link-runtime-shared-libraries>
	<metadata>
      <title>Flexlite Application</title>
      <description>http://www.flexlite.org/</description>
      <publisher>FlexLite</publisher>
      <creator>FlexLite</creator>
      <language>CN</language>
   </metadata>
</flex-config>
